<!DOCTYPE html>
<html>
    <head>
        <title>Netflex</title>
        <link rel="icon" href="./imagens/flex.png"/>
        <link rel="stylesheet" href="style.css"/>
        <script src="./script.js"></script>
    </head>
    <body>
        <div id="cabecalho">
            <a><img id="logo" src="./imagens/flex.png"></a>
        </div>
        {{{body}}}
    </body>


</html>