<!DOCTYPE html>
<html>
<head>
    <title>Netflex</title>
    <link rel="icon" href="./imagens/flex.png"/>
    <link rel="stylesheet" href="./style.css"/>
    <script src="./script.js"></script>
</head>
<body>
    <div>
        <div id="destaque>">
            <div class="sobre">
                <img class="titulo" src="https://placehold.co/300x200/png">
                <p class="sinopse">Lorem ipsum dolor sit amet</p>
                <button>Assistir</button>
                <button>Mais informações</button>
            </div>
        </div>
        <div id="filmes">
            <div>
                {{#each genero}}
                    <p class="legenda">{{nome}}</p>
                    <div class="horizontal">
                    {{#each filmes}}
                        <div class="filme">
                            <img src="https://placehold.co/100x150/png">
                        </div>
                    {{/each}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</body>
</html>