<form method="post">
    <input type="text" name="titulo"/>titulo<br>
    <input type="number" name="ano"/>ano<br>
    <input type="text" name="sinopse"/>sinopse<br>
    <input type="number" name="classificacao"/>classificacao<br>
    <br>
    <input type="checkbox" value="1" name="genres[]"/>Ação <br>
    <input type="checkbox" value="2" name="genres[]"/>Animação<br>
    <input type="checkbox" value="3" name="genres[]"/>Aventura<br>
    <input type="checkbox" value="4" name="genres[]"/>Comédia<br>
    <input type="checkbox" value="5" name="genres[]"/>Drama<br>
    <input type="checkbox" value="6" name="genres[]"/>Fantasia<br>
    <input type="checkbox" value="7" name="genres[]"/>Ficção científica<br>
    <input type="checkbox" value="8" name="genres[]"/>Infantil<br>
    <input type="checkbox" value="9" name="genres[]"/>Romance<br>
    <input type="checkbox" value="10" name="genres[]"/>Suspense<br>
    <input type="checkbox" value="11" name="genres[]"/>Terror<br>
    <input type="checkbox" value="12" name="genres[]"/>Thriller<br>
    <br>
    banner<input type="file" name="banner"/><br>
    capa<input type="file" name="capa"/><br>
    logo<input type="file" name="logo"/><br>
    <button>enviar</button>
</form>
<style></style>
   
</style>