body{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./imagens/fundo.jpg");
    background-size: cover;
    color: white;
}
/*all*/
#cabecalho{
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
}
#cabecalho a{
    display: block;
}


.horizontal{
    display:flex;
    flex-direction: row;
}

.quadrado{
    background-color: rgba(0, 0, 0, 0.666) ;
    color:white;
    height: 30rem;
    width: 20rem;
    align-content: center;
    margin: auto;
    padding: 2rem;
    border-radius: 17px;
    line-height: 1rem;
}

a:visited{
    color: rgb(119, 119, 255);
}

#mostrasenha{
    margin: .5rem .1rem;
    vertical-align: center;
    height: 2rem;
    width: 2rem;
    background-color: rgb(0, 0, 0);
    padding: 0 0;
    border: solid rgb(73, 73, 73) 1px;
}
#mostrasenha img{
    filter: invert(1);
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
}

input[type="text"], input[type="password"]{
    background-color: black;
    color:white;
    margin: .5rem 0;
    width: 85%;
    height: 2rem;
    border-radius: 3px;
    border: solid rgb(73, 73, 73) 1px;
}

button{
    background-color: red;
    border: none;
    border-radius: .4rem;
    padding: .7rem 2rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
button:hover{
    cursor: pointer;
}

.perfil:hover{
    cursor: pointer;
}
