body{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./imagens/fundo.jpg");
    background-size: cover;
    background-color: hsl(0, 0%, 5%);
    color: white;
    padding: 2%;
    max-width: 1360px;
    margin: auto;
}

*{
    font-family: sans-serif;
    font-size: large;
}
.titulo{
    max-width: 40vw;
}
.sinopse{
    max-width: 40vw;
}
.legenda{
    font-size: larger;
    font-weight: bold;
}

.listafilmes::-webkit-scrollbar {
    width: 10px;
}

.listafilmes::-webkit-scrollbar-track {
    background-color: #95a5a6;
}

.listafilmes::-webkit-scrollbar-thumb {
    background-color: #ff0000;
}

.home{
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0.9) 20rem, rgba(0,0,0,0) 40rem), linear-gradient(rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0.5) 25rem, rgb(0, 0, 0) 30rem), url(./imagens/movies/minecraft/A_Minecraft_Movie_textless_official_poster.webp);
    background-size: 1280px;
    background-position-x: center;
    background-repeat: no-repeat;
}
/*all*/
#cabecalho{
    z-index: 1;
    position: sticky;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
}
#cabecalho a{
    display: block;
}
.listafilmes{
    max-width: 90vw;
    overflow-x: auto;
    column-gap: 1rem;
}
.listafilmes img{
    height: 300px;
    width: 200px;
}

#destaque{
    min-height: 30rem;
    max-height: 40rem;
    position: relative;
}

.baixo{
    position: absolute;
    bottom: 2rem;
}

.horizontal{
    display:flex;
    flex-direction: row;
}

.quadrado{
    background-color: rgba(0, 0, 0, 0.666) ;
    color:white;
    height: 30rem;
    width: 20rem;
    align-content: center;
    margin: auto;
    padding: 2rem;
    border-radius: 17px;
    line-height: 1rem;
}

a:visited{
    color: rgb(119, 119, 255);
}

#mostrasenha{
    margin: .5rem .1rem;
    vertical-align: center;
    height: 2rem;
    width: 2rem;
    background-color: rgb(0, 0, 0);
    padding: 0 0;
    border: solid rgb(73, 73, 73) 1px;
}
#mostrasenha img{
    filter: invert(1);
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
}

input[type="text"], input[type="password"]{
    background-color: black;
    color:white;
    margin: .5rem 0;
    width: 85%;
    height: 2rem;
    border-radius: 3px;
    border: solid rgb(73, 73, 73) 1px;
}

button{
    text-decoration: none;
    color: white;
    background-color: red;
    border: none;
    border-radius: .4rem;
    padding: .7rem 2rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
button:hover{
    cursor: pointer;
}

.perfil:hover{
    cursor: pointer;
}

