body{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./imagens/fundo.jpg");
    background-size: cover;
    color: white;
}

#cabecalho{
    padding: .5rem 2rem;
    display: flex;
    flex-direction: row;
    row-gap: 5rem;
}
#cabecalho a{
    display: block;
}


.horizontal{
    display:flex;
    flex-direction: row;
}

.login{
    background-color: rgba(0, 0, 0, 0.662) ;
    color:white;
    height: 30rem;
    width: 20rem;
    align-content: center;
    margin: auto;
    padding: 2rem;
    border-radius: 17px;
    line-height: 1rem;
}

a:visited{
    color: rgb(119, 119, 255);
}

input[type="text"]{
    background-color: black;
    color:white;
    margin: .5rem 0;
    width: 100%;
    height: 2rem;
    border-radius: 3px;
}

.perfil:hover{
    cursor: pointer;
}
